*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Outfit', sans-serif;

	/*cores*/
	--bg: #0d192b;
	--bg-card:#14253d;
	--white:#ffffff;
	--blue:#8bacda;
	--cyan:#00fff7;
}
body{
	width: 100vw;
	height: 100vh;
	display: flex; 
	justify-content: center; /*alinha na horizontal*/
	align-items: center; /*alinha na vertical*/
	background-color: var(--bg);
	font-size: 18px;
}

/********** MAIN CARD **********/
.card{
	width: 354px;
	background-color: var(--bg-card);
	color: var(--blue);
	border-radius: 5%;
	padding: 18px;
}
/*** IMAGEM ***/
.nft-image{
	position: relative;
}
.nft-image img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5%;
}
.nft-image:hover img{
	opacity: 0.7;
}
.nft-image:hover .nft-image{
    transition: background-color 1s;
}
.nft-image{
	background-color: var(--cyan);
	border-radius: 5%;    
}
.nft-view img{
 	width: 50px;
 	height: 50px;
 	opacity: 0;
 	position: absolute;
 	top: 44%;
 	left: 44%;
}
.nft-image:hover .nft-view img{
	opacity: 1;
}

/********** CONTEUDO **********/
.content{
	width: 100%;
	height: 240px;
	margin:auto;
}
.description{
	margin: 16px auto;
}
#title{
	color: var(--white);
	font-weight: 600;
	font-size: 24px;
	margin: 20px auto;
}
#title:hover{
	color: var(--cyan);
	cursor: pointer;
}
#subtitle{
	color: var(--blue);
	font-size: 20px;
	margin: 20px auto;
}

/*** VALOR E DATA ***/
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto 30px auto;
}
.unit{
	display:inline-flex;
}
/*valor*/
.price{
	color: var(--cyan);
	font-weight: 600;
}
.unit #ethereum{
	width: 0.8rem;
	height: 1.2rem;
	margin-right: 8px;
}
/*tempo*/
.unit #clock{
	width: 1.1rem;
	height: 1.1rem;
	margin-right: 8px;
}
.time{
	color: var(--blue);
}

/*** HR ***/
hr{
	border: none;
	border-top: 1px solid;
	border-color: var(--blue);
	opacity: 0.3;
}

/*** CREDITOS ***/
.container-credits{
	display: flex;
	align-items: center;
	margin: 20px auto 0 auto;
}
.container-credits img{
	border: 1px solid var(--white);
	border-radius: 100%;
	width: 40px;
	height: 40px;
}
.container-credits p{
	margin-left: 20px ;
	color: var(--blue);
}
.container-credits span{
	color: var(--white);
}
.container-credits span:hover{
	color: var(--cyan);
	cursor: pointer;
}

/*** FOOTER ***/
footer{
/*fixa a posição do footer no final da página*/	
	position: absolute;
	bottom: 0;
	padding: 10px;
}
.attribution{ 
	font-size: 12px; 
	text-align: center; 
	color: var(--white);
}
.attribution a{
	color: var(--blue); 
	text-decoration: none;
}
.attribution a:hover{
	color: var(--cyan);
}

/*** RESPONSIVO ***/
@media (max-width: 375px){
	body{
		width: 100vw;
		height: 100vh;
	}
}

